.bordasimples {border:1px solid #4682B4;}
.bordacinza {
	border:1px solid #F2F2F2;
	padding: 0px;
}

.bordaform {
	border:1px solid #F2F2F2;
	padding: 5px;
	margin: 10px;
}
.bordabranca {
	border:1px solid #FFFFFF;
}
.texto-branco{
	color: white;
}
.nopadding {
	padding: 0 !important;
}

.litlepadding {
	padding-left: 8px !important;
	padding-right: 2px !important;
}

.label-primary {
    background-color: 
    #337ab7;
}

.label-success {
    background-color: 
    #5cb85c;
}

.label-error {
    background-color: 
    #5bc0de;
}

.label-warning {
    background-color: 
    #f0ad4e;
}

.label-danger {
    background-color: 
    #d9534f;
}

.btn-default2 {
    background-color: #C0C0C0;
    color: #444;
    border-color: #ddd;
}
.btn-default2:hover, .btn-default2:active, .btn-default2.hover {
    background-color: 
    #A9A9A9;
}

