.bordasimples {border:1px solid #4682B4;}
.bordacinza {
	border:1px solid #F2F2F2;
	padding: 0px;
}

.bordaform {
	border:1px solid #F2F2F2;
	padding: 5px;
	margin: 10px;
}
.bordabranca {
	border:1px solid #FFFFFF;
}
.texto-branco{
	color: white;
}
.nopadding {
	padding: 0 !important;
}

.litlepadding {
	padding-left: 8px !important;
	padding-right: 2px !important;
}

